@layer base,
  byline-base,
  theme,
  byline-theme,
  byline-functional,
  byline-typography,
  components,
  byline-components,
  utilities,
  byline-utilities;
@layer byline-components {
  .button-group,
  :global(.byline-button-group) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: var(--gap-2);
  }

  @media screen and (min-width: 40rem) {
    .button-group,
    :global(.byline-button-group) {
      flex-direction: row;
    }
  }
}
