@layer base,
  byline-base,
  theme,
  byline-theme,
  byline-functional,
  byline-typography,
  components,
  byline-components,
  utilities,
  byline-utilities;

@layer byline-components {
  .copy-button-container,
  :global(.byline-copy-button-container) {
    display: inline-block;
  }

  .copy-button svg,
  :global(.byline-copy-button) svg {
    width: 90%;
    height: 90%;
    display: block;
  }

  /* Sizes */
  .xs,
  :global(.byline-copy-button-xs) {
    width: 26px;
    height: 26px;
    min-height: 26px;
    padding: 0.25rem;
  }

  .sm,
  :global(.byline-copy-button-sm) {
    width: 32px;
    height: 32px;
    min-height: 32px;
    padding: 0.35rem;
  }

  .md,
  :global(.byline-copy-button-md) {
    width: 38px;
    height: 38px;
    min-height: 38px;
    padding: 0.45rem;
  }

  .lg,
  :global(.byline-copy-button-lg) {
    width: 46px;
    height: 46px;
    min-height: 46px;
    padding: 0.55rem;
  }

  .xl,
  :global(.byline-copy-button-xl) {
    width: 54px;
    height: 54px;
    min-height: 54px;
    padding: 0.65rem;
  }
}
