@layer base, byline-base, theme, byline-theme,
  byline-functional, byline-typography, components, byline-components,
  utilities, byline-utilities;

@layer byline-components {
  :global(.infonomic-checkbox-group),
  .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
  }
}
