@layer base, byline-base, components, byline-components,
  byline-functional, utilities, byline-utilities,
  theme, byline-theme, byline-typography;

@layer byline-components {
  :global(.infonomic-checkbox-group),
  .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
  }
}
