@layer base, byline-base, components, byline-components,
  byline-functional, utilities, byline-utilities,
  theme, byline-theme, byline-typography;

@layer byline-components {
  .text,
  :global(.infonomic-help-text) {
    font-size: 0.875rem;
    color: var(--muted);
  }

  .sm,
  :global(.infonomic-help-text-sm) {
    font-size: 0.85rem;
  }

  .md,
  :global(.infonomic-help-text-md) {
    font-size: 0.875rem;
  }

  .lg,
  :global(.infonomic-help-text-lg) {
    font-size: 0.9rem;
  }
}
