@layer base,
  byline-base,
  theme,
  byline-theme,
  byline-functional,
  byline-typography,
  components,
  byline-components,
  utilities,
  byline-utilities;

@layer byline-components {
  .text,
  :global(.byline-help-text) {
    font-size: 0.875rem;
    color: var(--muted);
  }

  .sm,
  :global(.byline-help-text-sm) {
    font-size: 0.85rem;
  }

  .md,
  :global(.byline-help-text-md) {
    font-size: 0.875rem;
  }

  .lg,
  :global(.byline-help-text-lg) {
    font-size: 0.9rem;
  }
}
