@layer base,
  byline-base,
  theme,
  byline-theme,
  byline-functional,
  byline-typography,
  components,
  byline-components,
  utilities,
  byline-utilities;

@layer byline-components {
  .adornment,
  :global(.infonomic-input-adornment) {
    display: flex;
    align-items: center;
    line-height: 0;
    white-space: nowrap;
  }

  .start,
  :global(.infonomic-input-adornment-start) {
    justify-content: flex-start;
  }

  .end,
  :global(.infonomic-input-adornment-end) {
    justify-content: flex-end;
  }
}
