@layer base, byline-base, theme, byline-theme,
  byline-functional, components, byline-components,
  utilities, byline-utilities, byline-typography;

@layer byline-components {
  .label,
  :global(.infonomic-label) {
    display: block;
    font-weight: 500;
    color: var(--text);
  }

  .required,
  :global(.infonomic-label-required) {
    color: var(--text-danger);
  }
}
