@layer base, byline-base, components, byline-components,
  byline-functional, utilities, byline-utilities,
  theme, byline-theme, byline-typography;

@layer byline-components {
  .label,
  :global(.infonomic-label) {
    display: block;
    font-weight: 500;
    color: var(--text);
  }

  .required,
  :global(.infonomic-label-required) {
    color: var(--text-danger);
  }
}
