@layer base, byline-base, components, byline-components,
  byline-functional, utilities, byline-utilities,
  theme, byline-theme, byline-typography;

@layer byline-components {
  .text-area,
  :global(.infonomic-text-area) {
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem;
  }

  .underlined,
  :global(.infonomic-text-area--underlined) {
    padding-left: 0;
    padding-right: 0;
  }

  .underlined:focus,
  .underlined:active,
  :global(.infonomic-text-area--underlined):focus,
  :global(.infonomic-text-area--underlined):active {
    outline: none;
  }

  .outlined {
  }

  .filled {
  }
}
